.root{
    -fx-background-color: #222;
    -fx-background-radius: 18;
}

.menupanel{
    -fx-background-color: #dc5a13;
    -fx-background-radius: 18;
}

.panelOption{
    -fx-background-color: #a44110;
    -fx-background-radius: 18;
    -fx-opacity: 0.9;
}

.panelOption:hover{
    -fx-opacity: 1;
}

.buttonCM{
    -fx-opacity: 0.9;
    -fx-background-color: #dc5a13;
    -fx-background-radius: 50;
}

.buttonCM:hover{
    -fx-opacity: 1;
}




